@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
